* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
 font-family: Arial, Helvetica, sans-serif;
 background-color: rgba(61, 61, 241, 0.835);
 color: white;
 line-height: 1.8;
}
.form-container .form-input {
 margin: 10px;

}
.form-container .form-input  label{
  display: block;
  color: white;
}
.form-container .form-submit button{
padding:10px;
background: rgb(125, 243, 7);
cursor: pointer;
width: 100px;
}

.form-container h2{
  color: black;
  padding-top: 20px;
  font-size: ;
}



